p{
    text-align: left;
    width: 100%;
    font-size: 15px;
}
td{
    border:1px rgba(0, 0, 0, .2) solid;
    text-align: center;
}


/* th不知道为什么无法显示设置的样式 */
/* .table1{
    margin-left:25px;
    margin-right: 25px;
}
.table2{
    margin-left:25px;
    margin-right: 25px;
} */

.ant-table-tbody > tr > td{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.ant-table-thead > tr > th{
    text-align: center;
    border:1px rgba(0, 0, 0, .2) solid;
    background-color: rgba(0, 0, 0, .3);
}

.tabs{
    margin-left: 30px;
}