.red{
    color: red;
    font-weight: bold;
}
.ant-table-tbody > tr > td{
    border: 1px solid rgba(0, 0, 0, .2);
    text-align: center;

}

.ant-table-thead > tr > th{
    text-align: center;
    border:1px rgba(0, 0, 0, .2) solid;
    background-color: rgba(0, 0, 0, .3);
}